<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>HTML and CSS</title>

  <link rel="stylesheet" href="/css/site.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700|Roboto&display=fallback" rel="stylesheet">
</head>
<body>
<header>
  <a href="/" class="link--home">HTML and CSS</a>
  <a href="/about-html" class="link--about">HTML</a>
    <a href="/about-css" class="link--about">CSS</a>


  <a href="/About" class="link--about">About me</a>
</header>




   <!-- {{ content | safe }} -->
<footer>&copy; HTML and CSS</footer>
</body>
</html>